# Test DS-FT Nov 2020

## Primera parte:

https://forms.gle/k1eyHnAXiQFyjk6X7

-----------------

## Segunda parte, ejercicios prácticos:

#### Notas y pruebas de apoyo para contestar las preguntas tipo test
Esto no es necesario usarlo, aunque verlo aquí te puede dar la respuesta a alguna de las preguntas tipo test.

Cualquier código aunque no esté correcto, nos dirá más de ti, que no escribir nada.

In [ ]:
# Ejemplo de como queremos ver el código para más de un intento:

# intento 1
your code
# intento 2
your code

In [8]:
# crea todas las celdas que necesites
A=1
B=1
C=2
D = A==B

In [10]:
var = False
var

False

In [16]:
auxiliar = ["l", 5, "a"]
auxiliar.pop(2)
auxiliar

['l', 5]

In [17]:
float("67,98")

ValueError: could not convert string to float: '67,98'

In [22]:
 lista_total = ["texto", 1, 7, 55.78, True]
 lista_total

['texto', 1, 7, 55.78, True]

In [28]:
iterate("thebridge"):
    print(i)

SyntaxError: invalid syntax (<ipython-input-28-7fbf61dafec8>, line 1)

In [33]:
dic1 = {1:'key', 2:'uy'}
for i in dic1:
    print(i)

1
2

In [34]:
mi_lista = [1, 6, "b"]
mi_lista[len(mi_lista)]

IndexError: list index out of range

In [38]:
l = ["h", [6,7,8,[]]]
l

['h', [6, 7, 8, []]]

In [44]:
dic1 = {1:'key', 2:'uy'}
dic1[1]

'key'

In [53]:
l = (7, 5)
sorted(l)

[5, 7]

In [57]:
dic1 = {1:'key', 1:'uy'}
dic1

{1: 'uy'}

In [61]:
a = [1,2,3]
b=[6,2,8]
c = sum(a+b)
c

22

In [67]:
for i in range(100, 157):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156

In [73]:
class Dinosaur:
    
    def __init__(self, teeth, skills=[], dangerous=False, head=1):
        self.teeth = teeth
        self.skills = skills
        self.dangerous = dangerous
        self.head = head

tyrannosaurus = Dinosaur(skills=[], head=2)
print(tyrannosaurus.head)

TypeError: __init__() missing 1 required positional argument: 'teeth'

In [80]:
a = ['a', 'b', 'c', 'd', 'e', 'f'] 
b = [6,2,7,4,0,5]
diccionario = {}
diccionario['a'] = 6
diccionario
diccionario[(2,3,(4,"a",1))] = 7
diccionario

{'a': 6, (2, 3, (4, 'a', 1)): 7}

## Ejercicios prácticos

#### Ejercicio 1.
En este ejercicio se va a crear una lista con los siguientes elementos. Primero, crearemos las variables que luego añadiremos a la lista. Las variables son las siguientes:

1. Crea una variable llamada `num_dni` de tipo Integer que represente el primer número de tu DNI. 
2. Crea una variable llamada `let_dni` de tipo String y que represente la letra de vuestro DNI.
3. Crea una variable llamada `tip_ord` de tipo Boolean True si usas Windows y False si usas Mac.
4. Crea una variable llamada `nada` de tipo None cuyo valor sea None.
5. Crea una variable llamada `lista_deseo` de tipo List que contenga los cuatro objetos que te llevarías a una isla desierta. Cada elemento ha de ser de tipo String y el tamaño de la lista ha de ser 4.
6. Crea una variable llamada `tupla_ropa` de tipo Tuple con la marca de la prenda superior, inferior y calzado que llevas puesto.
7. Crea una variable llamada `dict_info` con dos keys y dos values. Una key es 'nombre', teniendo como value vuestro nombre. Otra key es 'edad', teniendo como value vuestra edad.
8. Crea una variable llamada `flo_hor` con la hora actual separada por punto en vez de dos puntos. Ejemplo: si son las 10:06, el valor de la variable sería 10.06.

Añade todos estos elementos en una lista llamada `lista_examen` en el orden de aparición.

In [ ]:
 # tu respuesta aquí

#### Ejercicio 2. 

Para resolver este ejercicio necesitarás la lista del ejercicio anterior (`lista_examen`). Se recomeinda leer cada punto hasta el final antes de resolver el ejercicio.

Se repite para que quede aún más claro: **SOLO USAR LA VARIABLE** `lista_examen`. Usar las demás variables se calificará como error.  

1. Mostrar por pantalla, sin uso de funciones ni bucles: 
    - El segundo elemento de `lista_deseo` desde `lista_examen`.
    - El calzado que llevas puesto.
    - Vuestro nombre.
    - La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
    - Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de `lista_examen`.

In [ ]:
# tu respuesta aquí

2. Mostrar por pantalla, con uso de un bucle `for`:
    - Todos los elementos de `lista_examen`.
    - Todos los elementos de `lista_deseo` desde `lista_examen`.
    - Todos los elementos que ocupen una posición menor a 4 en `lista_examen`.

In [ ]:
# tu respuesta aquí

3. Mostrar por pantalla, con uso de un bucle while: 
    - Todos los elementos de `tupla_ropa` seguido de la cadena `"-->"` y la `posición` (int) que ocupa en la tupla accediendo desde `lista_examen`. Se aconseja utilizar *`enumerate`*.
    - Cada key de `dict_info` seguido de la cadena ":" seguido de su value desde `lista_examen`.

In [ ]:
# tu respuesta aquí

#### Ejercicio 3. 

Crea una clase "Humano" que tenga 3 atributos: "edad", "altura" y "nombre". Además, debe contar con dos funciones: 

- `cumplir_edad`: al llamar a esta función se debe sumar 1 a la edad actual del humano. 
- `registro_nombre` que recibe parametro "nuevo_nombre": al llamar a esta función con un parámetro de entrada, esta función debe cambiar el nombre del humano por el "nuevo_nombre"

Crea un humano llamado "Wolfram" que tiene 23 años de edad y mide 173 centímetros. A "Wolfram" nunca le gustó su nombre. Por eso, usa la función correspondiente para cambiarle su nombre por "Benacio". Además, hoy es su cumpleaños por lo que usa la función para aumentar su edad. 

Muestra por pantalla el nombre del humano antes y después de cambiarse de nombre. Muestra también la edad de Benacio antes y después de cumplir años.

In [ ]:
# tu respuesta aquí

#### Ejercicio 4. 

Escribe una función `reverse_number` que reciba dos parámetros. Los parámetros son `cadena` y `n`. `cadena` será un string y `n` un entero. La función debe retornar un string que sea el string `cadena` al revés y que tenga concatenado el número `n` por cada caracter de `cadena`.  

*No se permite usar la función built-in `reverse` ni pasar el string `cadena` a otro tipo de variable (como list)* 

Ejemplos de llamada a la función y lo que devuelve la función:

--------

>> print(reverse_number(cadena="aloh", n=3))

>>> h3o3l3a3

--------

>> print(reverse_number(cadena="otipep", n=85))

>>> p85e85p85i85t85o85