In [1]:
import pymysql.cursors
import pandas as pd
from pandas import DataFrame
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## EASY

In [23]:
connection = pymysql.connect(host="34.229.137.164", 
                            port=25001,
                             user='student',
                             password='lebowsky',
                             database= 'australia_fires_2',
                             cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
cursor.execute(\
    """
    SELECT * 
    FROM fire_archive_M6_96619
    """)
result = cursor.fetchall()

cursor.close()
connection.close()

df = DataFrame (result)

In [24]:
df

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.058300,313.000000,1.000000,1.000000,2019-08-01,56,Terra,MODIS,48,6.300000,297.300000,6.600000,D,0
1,1,-11.7924,142.085000,319.300000,1.000000,1.000000,2019-08-01,56,Terra,MODIS,71,6.300000,297.300000,11.300000,D,0
2,2,-12.8398,132.874400,311.600000,3.100000,1.700000,2019-08-01,57,Terra,MODIS,42,6.300000,298.700000,23.100000,D,0
3,3,-14.4306,143.303500,310.100000,1.100000,1.100000,2019-08-01,57,Terra,MODIS,33,6.300000,296.100000,6.500000,D,0
4,4,-12.4953,131.489700,310.300000,4.000000,1.900000,2019-08-01,57,Terra,MODIS,36,6.300000,298.800000,27.600000,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.633400,312.700000,1.200000,1.100000,2019-09-30,1644,Aqua,MODIS,85,6.300000,292.900000,14.200000,N,0
36007,36007,-28.2625,128.549400,304.900000,1.000000,1.000000,2019-09-30,1644,Aqua,MODIS,27,6.300000,290.900000,6.400000,N,0
36008,36008,-28.2941,128.512300,301.700000,1.000000,1.000000,2019-09-30,1644,Aqua,MODIS,43,6.300000,290.400000,5.500000,N,0
36009,36009,-28.3001,128.553000,303.600000,1.000000,1.000000,2019-09-30,1644,Aqua,MODIS,41,6.300000,290.300000,5.700000,N,0
36010,36010,-30.8641,121.499500,309.100000,1.800000,1.300000,2019-09-30,1645,Aqua,MODIS,77,6.300000,290.900000,23.000000,N,2

## COMPLEX

In [2]:
connection = pymysql.connect(host="34.229.137.164", 
                            port=25001,
                             user='student',
                             password='lebowsky',
                             database= 'australia_fires_2',
                             cursorclass=pymysql.cursors.DictCursor)

cursor = connection.cursor()
cursor.execute("SHOW TABLES")
cursor.fetchall()
query1 = """

SELECT * 
FROM fire_archive_M6_96619"""

df_1 = pd.read_sql_query(query1, connection)
df_1.head()

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0

In [5]:
df_1

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [6]:
cursor.execute("SHOW TABLES")
cursor.fetchall()

[{'Tables_in_australia_fires_2': 'fire_archive_M6_96619'},
 {'Tables_in_australia_fires_2': 'fire_archive_V1_96617'},
 {'Tables_in_australia_fires_2': 'fire_nrt_M6_96619'},
 {'Tables_in_australia_fires_2': 'fire_nrt_V1_96617'},
 {'Tables_in_australia_fires_2': 'student_findings'}]

In [3]:
connection = pymysql.connect(host="34.229.137.164", 
                            port=25001,
                             user='student',
                             password='lebowsky',
                             database= 'australia_fires_2',
                             cursorclass=pymysql.cursors.DictCursor)

cursor = connection.cursor()
cursor.execute("SHOW TABLES")
cursor.fetchall()
query1 = """

SELECT * 
FROM fire_archive_V1_96617"""

df_2 = pd.read_sql_query(query1, connection)
df_2.head()

,index,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,fire_type
0,0,-34.45902,150.88040,326.5,0.60,0.71,2019-08-01,246,N,VIIRS,n,1,290.7,5.8,3
1,1,-31.70724,151.07191,367.0,0.56,0.69,2019-08-01,247,N,VIIRS,h,1,291.9,10.4,0
2,2,-31.39626,149.65253,325.2,0.68,0.74,2019-08-01,247,N,VIIRS,n,1,292.7,5.6,0
3,3,-30.39774,152.06432,347.8,0.48,0.65,2019-08-01,247,N,VIIRS,n,1,287.6,9.1,0
4,4,-31.20248,151.89766,350.7,0.50,0.66,2019-08-01,247,N,VIIRS,n,1,292.3,9.4,0

In [42]:
cursor.execute("SHOW TABLES")
cursor.fetchall()
query1 = """

SELECT * 
FROM fire_nrt_M6_96619"""

df_3 = pd.read_sql_query(query1, connection)
df_3.head()

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,0,-14.281,143.636,323.9,1.7,1.3,2019-10-01,25,Terra,MODIS,70,6.0NRT,302.3,26.8,D
1,1,-14.284,143.532,343.5,1.7,1.3,2019-10-01,25,Terra,MODIS,90,6.0NRT,306.3,84.3,D
2,2,-14.302,143.706,320.2,1.7,1.3,2019-10-01,25,Terra,MODIS,30,6.0NRT,305.0,14.1,D
3,3,-14.283,143.652,320.4,1.7,1.3,2019-10-01,25,Terra,MODIS,57,6.0NRT,303.3,18.4,D
4,4,-14.285,143.521,349.4,1.7,1.3,2019-10-01,25,Terra,MODIS,94,6.0NRT,304.7,110.7,D

In [43]:
cursor.execute("SHOW TABLES")
cursor.fetchall()
query1 = """

SELECT * 
FROM fire_nrt_V1_96617"""

df_4 = pd.read_sql_query(query1, connection)
df_4.head()

,index,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,0,-42.69706,147.70634,333.6,0.57,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,293.4,4.0,D
1,1,-42.26889,147.31104,336.2,0.39,0.44,2019-10-01,336,N,VIIRS,n,1.0NRT,296.9,3.9,D
2,2,-40.85202,145.38068,327.9,0.46,0.47,2019-10-01,336,N,VIIRS,n,1.0NRT,295.3,3.7,D
3,3,-42.39329,147.47144,346.9,0.38,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,294.2,6.2,D
4,4,-42.69701,147.70584,334.1,0.56,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,293.5,4.1,D

In [18]:
cursor.execute("SHOW TABLES")
cursor.fetchall()
query1 = """

SELECT * 
FROM student_findings"""

df_5 = pd.read_sql_query(query1, connection)

Empty DataFrame
Columns: [index, chosen_model, acc_score, recall_score]
Index: []

In [10]:
df_1

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [11]:
df_2

,index,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,fire_type
0,0,-34.45902,150.88040,326.5,0.60,0.71,2019-08-01,246,N,VIIRS,n,1,290.7,5.8,3
1,1,-31.70724,151.07191,367.0,0.56,0.69,2019-08-01,247,N,VIIRS,h,1,291.9,10.4,0
2,2,-31.39626,149.65253,325.2,0.68,0.74,2019-08-01,247,N,VIIRS,n,1,292.7,5.6,0
3,3,-30.39774,152.06432,347.8,0.48,0.65,2019-08-01,247,N,VIIRS,n,1,287.6,9.1,0
4,4,-31.20248,151.89766,350.7,0.50,0.66,2019-08-01,247,N,VIIRS,n,1,292.3,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,n,1,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.6,0

In [6]:
df_1.drop(columns=['daynight'], inplace=True)
df_1

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,fire_type
0,0,-11.807,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,0
1,1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,0
2,2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,0
3,3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,0
4,4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,0
36007,36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,0
36008,36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,0
36009,36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,0
36010,36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,2

In [7]:
df_2.rename(columns={"bright_ti4": "brightness"}, inplace=True)
df_2

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,fire_type
0,0,-34.45902,150.88040,326.5,0.60,0.71,2019-08-01,246,N,VIIRS,n,1,290.7,5.8,3
1,1,-31.70724,151.07191,367.0,0.56,0.69,2019-08-01,247,N,VIIRS,h,1,291.9,10.4,0
2,2,-31.39626,149.65253,325.2,0.68,0.74,2019-08-01,247,N,VIIRS,n,1,292.7,5.6,0
3,3,-30.39774,152.06432,347.8,0.48,0.65,2019-08-01,247,N,VIIRS,n,1,287.6,9.1,0
4,4,-31.20248,151.89766,350.7,0.50,0.66,2019-08-01,247,N,VIIRS,n,1,292.3,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,n,1,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,n,1,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,n,1,285.9,0.6,0

In [21]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36011 entries, 0 to 36010
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       36011 non-null  int64
 1   latitude    36011 non-null  object
 2   longitude   36011 non-null  float64
 3   brightness  36011 non-null  float64
 4   scan        36011 non-null  float64
 5   track       36011 non-null  float64
 6   acq_date    36011 non-null  object
 7   acq_time    36011 non-null  int64
 8   satellite   36011 non-null  object
 9   instrument  36011 non-null  object
 10  confidence  36011 non-null  int64
 11  version     36011 non-null  float64
 12  bright_t31  36011 non-null  float64
 13  frp         36011 non-null  float64
 14  fire_type   36011 non-null  int64
dtypes: float64(7), int64(4), object(4)
memory usage: 4.1+ MB

In [22]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184778 entries, 0 to 184777
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       184778 non-null  int64
 1   latitude    184778 non-null  object
 2   longitude   184778 non-null  float64
 3   brightness  184778 non-null  float64
 4   scan        184778 non-null  float64
 5   track       184778 non-null  float64
 6   acq_date    184778 non-null  object
 7   acq_time    184778 non-null  int64
 8   satellite   184778 non-null  object
 9   instrument  184778 non-null  object
 10  confidence  184778 non-null  object
 11  version     184778 non-null  int64
 12  bright_ti5  184778 non-null  float64
 13  frp         184778 non-null  float64
 14  fire_type   184778 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 21.1+ MB

In [8]:
df_1.drop(columns=['confidence'], inplace=True)
df_2.drop(columns=['confidence'], inplace=True)

We could just change the type of the 'version' column to float but it´s better to delete it.

In [9]:
df_1.drop(columns=['version'], inplace=True)
df_2.drop(columns=['version'], inplace=True)

In [26]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184778 entries, 0 to 184777
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       184778 non-null  int64
 1   latitude    184778 non-null  object
 2   longitude   184778 non-null  float64
 3   brightness  184778 non-null  float64
 4   scan        184778 non-null  float64
 5   track       184778 non-null  float64
 6   acq_date    184778 non-null  object
 7   acq_time    184778 non-null  int64
 8   satellite   184778 non-null  object
 9   instrument  184778 non-null  object
 10  version     184778 non-null  float64
 11  bright_ti5  184778 non-null  float64
 12  frp         184778 non-null  float64
 13  fire_type   184778 non-null  int64
dtypes: float64(7), int64(3), object(4)
memory usage: 19.7+ MB

In [10]:
df_2.rename(columns={"bright_ti5": "bright_t31"}, inplace=True)
df_2

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,bright_t31,frp,fire_type
0,0,-34.45902,150.88040,326.5,0.60,0.71,2019-08-01,246,N,VIIRS,290.7,5.8,3
1,1,-31.70724,151.07191,367.0,0.56,0.69,2019-08-01,247,N,VIIRS,291.9,10.4,0
2,2,-31.39626,149.65253,325.2,0.68,0.74,2019-08-01,247,N,VIIRS,292.7,5.6,0
3,3,-30.39774,152.06432,347.8,0.48,0.65,2019-08-01,247,N,VIIRS,287.6,9.1,0
4,4,-31.20248,151.89766,350.7,0.50,0.66,2019-08-01,247,N,VIIRS,292.3,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,285.9,0.6,0

In [11]:
australia = pd.concat([df_1, df_2])
australia

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,bright_t31,frp,fire_type
0,0,-11.807,142.05830,313.0,1.00,1.00,2019-08-01,56,Terra,MODIS,297.3,6.6,0
1,1,-11.7924,142.08500,319.3,1.00,1.00,2019-08-01,56,Terra,MODIS,297.3,11.3,0
2,2,-12.8398,132.87440,311.6,3.10,1.70,2019-08-01,57,Terra,MODIS,298.7,23.1,0
3,3,-14.4306,143.30350,310.1,1.10,1.10,2019-08-01,57,Terra,MODIS,296.1,6.5,0
4,4,-12.4953,131.48970,310.3,4.00,1.90,2019-08-01,57,Terra,MODIS,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,285.9,0.6,0

In [29]:
df_3

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,0,-14.281,143.636,323.9,1.7,1.3,2019-10-01,25,Terra,MODIS,70,6.0NRT,302.3,26.8,D
1,1,-14.284,143.532,343.5,1.7,1.3,2019-10-01,25,Terra,MODIS,90,6.0NRT,306.3,84.3,D
2,2,-14.302,143.706,320.2,1.7,1.3,2019-10-01,25,Terra,MODIS,30,6.0NRT,305.0,14.1,D
3,3,-14.283,143.652,320.4,1.7,1.3,2019-10-01,25,Terra,MODIS,57,6.0NRT,303.3,18.4,D
4,4,-14.285,143.521,349.4,1.7,1.3,2019-10-01,25,Terra,MODIS,94,6.0NRT,304.7,110.7,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183588,183588,-32.675,122.113,300.5,2.4,1.5,2020-01-11,1515,Terra,MODIS,19,6.0NRT,289.3,15.3,N
183589,183589,-16.708,129.646,300.5,1.0,1.0,2020-01-11,1645,Aqua,MODIS,16,6.0NRT,280.8,2.9,N
183590,183590,-16.747,129.653,301.8,1.0,1.0,2020-01-11,1645,Aqua,MODIS,23,6.0NRT,277.9,3.7,N
183591,183591,-32.484,121.319,306.5,1.4,1.2,2020-01-11,1650,Aqua,MODIS,68,6.0NRT,291.9,11.6,N
183592,183592,-30.858,121.500,300.7,1.4,1.2,2020-01-11,1650,Aqua,MODIS,32,6.0NRT,290.5,6.8,N

In [30]:
df_4

,index,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,0,-42.69706,147.70634,333.6,0.57,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,293.4,4.0,D
1,1,-42.26889,147.31104,336.2,0.39,0.44,2019-10-01,336,N,VIIRS,n,1.0NRT,296.9,3.9,D
2,2,-40.85202,145.38068,327.9,0.46,0.47,2019-10-01,336,N,VIIRS,n,1.0NRT,295.3,3.7,D
3,3,-42.39329,147.47144,346.9,0.38,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,294.2,6.2,D
4,4,-42.69701,147.70584,334.1,0.56,0.43,2019-10-01,336,N,VIIRS,n,1.0NRT,293.5,4.1,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956252,956252,-32.66628,122.15253,306.9,0.39,0.44,2020-01-11,1630,N,VIIRS,n,1.0NRT,288.6,0.8,N
956253,956253,-32.58616,123.39582,299.0,0.51,0.41,2020-01-11,1630,N,VIIRS,n,1.0NRT,287.4,0.7,N
956254,956254,-33.37853,115.94735,309.7,0.40,0.60,2020-01-11,1630,N,VIIRS,n,1.0NRT,291.7,1.0,N
956255,956255,-33.21827,115.75078,300.2,0.49,0.65,2020-01-11,1806,N,VIIRS,n,1.0NRT,290.2,1.1,N
956256,956256,-33.22012,115.75043,300.3,0.49,0.65,2020-01-11,1806,N,VIIRS,n,1.0NRT,290.0,0.6,N

In [33]:
df_4['confidence'].value_counts()

n    771035
h    108407
l     76815
Name: confidence, dtype: int64

In [44]:
df_3.drop(columns=['confidence'], inplace=True)
df_4.drop(columns=['confidence'], inplace=True)

In [45]:
df_4.rename(columns={"bright_ti4": "brightness"}, inplace=True)
df_4

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,version,bright_ti5,frp,daynight
0,0,-42.69706,147.70634,333.6,0.57,0.43,2019-10-01,336,N,VIIRS,1.0NRT,293.4,4.0,D
1,1,-42.26889,147.31104,336.2,0.39,0.44,2019-10-01,336,N,VIIRS,1.0NRT,296.9,3.9,D
2,2,-40.85202,145.38068,327.9,0.46,0.47,2019-10-01,336,N,VIIRS,1.0NRT,295.3,3.7,D
3,3,-42.39329,147.47144,346.9,0.38,0.43,2019-10-01,336,N,VIIRS,1.0NRT,294.2,6.2,D
4,4,-42.69701,147.70584,334.1,0.56,0.43,2019-10-01,336,N,VIIRS,1.0NRT,293.5,4.1,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956252,956252,-32.66628,122.15253,306.9,0.39,0.44,2020-01-11,1630,N,VIIRS,1.0NRT,288.6,0.8,N
956253,956253,-32.58616,123.39582,299.0,0.51,0.41,2020-01-11,1630,N,VIIRS,1.0NRT,287.4,0.7,N
956254,956254,-33.37853,115.94735,309.7,0.40,0.60,2020-01-11,1630,N,VIIRS,1.0NRT,291.7,1.0,N
956255,956255,-33.21827,115.75078,300.2,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.2,1.1,N
956256,956256,-33.22012,115.75043,300.3,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.0,0.6,N

In [36]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183593 entries, 0 to 183592
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       183593 non-null  int64
 1   latitude    183593 non-null  object
 2   longitude   183593 non-null  float64
 3   brightness  183593 non-null  float64
 4   scan        183593 non-null  float64
 5   track       183593 non-null  float64
 6   acq_date    183593 non-null  object
 7   acq_time    183593 non-null  int64
 8   satellite   183593 non-null  object
 9   instrument  183593 non-null  object
 10  version     183593 non-null  object
 11  bright_t31  183593 non-null  float64
 12  frp         183593 non-null  float64
 13  daynight    183593 non-null  object
dtypes: float64(6), int64(2), object(6)
memory usage: 19.6+ MB

In [37]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956257 entries, 0 to 956256
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       956257 non-null  int64
 1   latitude    956257 non-null  object
 2   longitude   956257 non-null  float64
 3   brightness  956257 non-null  float64
 4   scan        956257 non-null  float64
 5   track       956257 non-null  float64
 6   acq_date    956257 non-null  object
 7   acq_time    956257 non-null  int64
 8   satellite   956257 non-null  object
 9   instrument  956257 non-null  object
 10  version     956257 non-null  object
 11  bright_ti5  956257 non-null  float64
 12  frp         956257 non-null  float64
 13  daynight    956257 non-null  object
dtypes: float64(6), int64(2), object(6)
memory usage: 102.1+ MB

In [46]:
df_4.rename(columns={"bright_ti5": "bright_t31"}, inplace=True)
df_4

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,version,bright_t31,frp,daynight
0,0,-42.69706,147.70634,333.6,0.57,0.43,2019-10-01,336,N,VIIRS,1.0NRT,293.4,4.0,D
1,1,-42.26889,147.31104,336.2,0.39,0.44,2019-10-01,336,N,VIIRS,1.0NRT,296.9,3.9,D
2,2,-40.85202,145.38068,327.9,0.46,0.47,2019-10-01,336,N,VIIRS,1.0NRT,295.3,3.7,D
3,3,-42.39329,147.47144,346.9,0.38,0.43,2019-10-01,336,N,VIIRS,1.0NRT,294.2,6.2,D
4,4,-42.69701,147.70584,334.1,0.56,0.43,2019-10-01,336,N,VIIRS,1.0NRT,293.5,4.1,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956252,956252,-32.66628,122.15253,306.9,0.39,0.44,2020-01-11,1630,N,VIIRS,1.0NRT,288.6,0.8,N
956253,956253,-32.58616,123.39582,299.0,0.51,0.41,2020-01-11,1630,N,VIIRS,1.0NRT,287.4,0.7,N
956254,956254,-33.37853,115.94735,309.7,0.40,0.60,2020-01-11,1630,N,VIIRS,1.0NRT,291.7,1.0,N
956255,956255,-33.21827,115.75078,300.2,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.2,1.1,N
956256,956256,-33.22012,115.75043,300.3,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.0,0.6,N

In [47]:
fires = pd.concat([df_3, df_4])
fires

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,version,bright_t31,frp,daynight
0,0,-14.281,143.63600,323.9,1.70,1.30,2019-10-01,25,Terra,MODIS,6.0NRT,302.3,26.8,D
1,1,-14.284,143.53200,343.5,1.70,1.30,2019-10-01,25,Terra,MODIS,6.0NRT,306.3,84.3,D
2,2,-14.302,143.70600,320.2,1.70,1.30,2019-10-01,25,Terra,MODIS,6.0NRT,305.0,14.1,D
3,3,-14.283,143.65200,320.4,1.70,1.30,2019-10-01,25,Terra,MODIS,6.0NRT,303.3,18.4,D
4,4,-14.285,143.52100,349.4,1.70,1.30,2019-10-01,25,Terra,MODIS,6.0NRT,304.7,110.7,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956252,956252,-32.66628,122.15253,306.9,0.39,0.44,2020-01-11,1630,N,VIIRS,1.0NRT,288.6,0.8,N
956253,956253,-32.58616,123.39582,299.0,0.51,0.41,2020-01-11,1630,N,VIIRS,1.0NRT,287.4,0.7,N
956254,956254,-33.37853,115.94735,309.7,0.40,0.60,2020-01-11,1630,N,VIIRS,1.0NRT,291.7,1.0,N
956255,956255,-33.21827,115.75078,300.2,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.2,1.1,N
956256,956256,-33.22012,115.75043,300.3,0.49,0.65,2020-01-11,1806,N,VIIRS,1.0NRT,290.0,0.6,N

In [41]:
australia

,index,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,version,bright_t31,frp,fire_type
0,0,-11.807,142.05830,313.0,1.00,1.00,2019-08-01,56,Terra,MODIS,6.3,297.3,6.6,0
1,1,-11.7924,142.08500,319.3,1.00,1.00,2019-08-01,56,Terra,MODIS,6.3,297.3,11.3,0
2,2,-12.8398,132.87440,311.6,3.10,1.70,2019-08-01,57,Terra,MODIS,6.3,298.7,23.1,0
3,3,-14.4306,143.30350,310.1,1.10,1.10,2019-08-01,57,Terra,MODIS,6.3,296.1,6.5,0
4,4,-12.4953,131.48970,310.3,4.00,1.90,2019-08-01,57,Terra,MODIS,6.3,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184773,184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,1.0,284.8,1.2,0
184774,184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,1.0,284.7,1.1,0
184775,184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,1.0,285.0,1.3,0
184776,184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,1.0,285.9,0.5,0
184777,184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,1.0,285.9,0.6,0

In [15]:
australia.drop(columns='index', inplace=True)
australia

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,bright_t31,frp,fire_type
0,-11.807,142.05830,313.0,1.00,1.00,2019-08-01,56,Terra,MODIS,297.3,6.6,0
1,-11.7924,142.08500,319.3,1.00,1.00,2019-08-01,56,Terra,MODIS,297.3,11.3,0
2,-12.8398,132.87440,311.6,3.10,1.70,2019-08-01,57,Terra,MODIS,298.7,23.1,0
3,-14.4306,143.30350,310.1,1.10,1.10,2019-08-01,57,Terra,MODIS,296.1,6.5,0
4,-12.4953,131.48970,310.3,4.00,1.90,2019-08-01,57,Terra,MODIS,298.8,27.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...
184773,-32.37209,116.10032,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.8,1.2,0
184774,-32.38958,116.11151,296.1,0.48,0.40,2019-09-30,1702,N,VIIRS,284.7,1.1,0
184775,-33.12481,116.03968,299.9,0.47,0.40,2019-09-30,1702,N,VIIRS,285.0,1.3,0
184776,-33.6348,122.92641,296.2,0.43,0.38,2019-09-30,1702,N,VIIRS,285.9,0.5,0
184777,-33.63897,122.93050,297.3,0.44,0.38,2019-09-30,1702,N,VIIRS,285.9,0.6,0

In [16]:
australia.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'bright_t31', 'frp',
       'fire_type'],
      dtype='object')

In [17]:
X = australia[['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_time', 'bright_t31', 'frp']]
y = australia['fire_type']

# linear regression

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
lm = LinearRegression(n_jobs=-1)
lm.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [19]:
lm.score(X_train, y_train) *100

1.277570274469031

In [20]:
lm.score(X_test, y_test) *100

1.2414961918117529

# LOGISTIC CLASSIFICATION

In [29]:
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import accuracy_score

In [23]:
X = np.array(australia.drop(columns=['fire_type', 'acq_date', 'satellite', 'instrument'], axis=1))
y = np.array(australia['fire_type'])

In [26]:
model = linear_model.LogisticRegression()
model.fit(X,y)
predictions = model.predict(X)
print(predictions)

[0 0 0 ... 0 0 0]

In [27]:
model.score(X,y)

0.9774762329645046

In [30]:
validation_size = 0.20
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, y, test_size=validation_size, random_state=seed)
print(X_train.shape)
X_test.shape

(176631, 8)

(44158, 8)

In [31]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, shuffle=True, random_state=seed) #Parte los datos en 10 trozos para usar validación cruzada / cross validation
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(cv_results)
print(msg)

[0.97684556 0.97690087 0.97814641 0.97758025 0.97741041 0.97752364
 0.97769348 0.97582517 0.97724056 0.97893903]
Logistic Regression: 0.977411 (0.000782)

In [32]:
model.score(X_test, Y_test)

0.97773902803569

In [33]:
predictions = model.predict(X_test)
acierto = accuracy_score(Y_test, predictions)
error = 1 - acierto
print("Acierto:", round(acierto*100, 2), "%")
print("Error:", round(error*100, 2), "%")

Acierto: 97.77 %
Error: 2.23 %

In [48]:
fires_2 = fires.drop(columns=['index','acq_date','satellite','instrument', 'version', 'daynight'])
fires_2

,latitude,longitude,brightness,scan,track,acq_time,bright_t31,frp
0,-14.281,143.63600,323.9,1.70,1.30,25,302.3,26.8
1,-14.284,143.53200,343.5,1.70,1.30,25,306.3,84.3
2,-14.302,143.70600,320.2,1.70,1.30,25,305.0,14.1
3,-14.283,143.65200,320.4,1.70,1.30,25,303.3,18.4
4,-14.285,143.52100,349.4,1.70,1.30,25,304.7,110.7
...,...,...,...,...,...,...,...,...
956252,-32.66628,122.15253,306.9,0.39,0.44,1630,288.6,0.8
956253,-32.58616,123.39582,299.0,0.51,0.41,1630,287.4,0.7
956254,-33.37853,115.94735,309.7,0.40,0.60,1630,291.7,1.0
956255,-33.21827,115.75078,300.2,0.49,0.65,1806,290.2,1.1
956256,-33.22012,115.75043,300.3,0.49,0.65,1806,290.0,0.6

In [54]:
a = model.predict(fires_2)
a

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
print(a)

[0 0 0 ... 0 0 0]