### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types".

![](df_pk.PNG)

In [1]:
import json
import requests
import pandas as pd

In [2]:
# EJERCICIO 1
url = "https://pokeapi.co/api/v2/pokemon?&limit=5"
poke_json = requests.get(url).json()
poke_json

{'count': 1118,
 'next': 'https://pokeapi.co/api/v2/pokemon?offset=5&limit=5',
 'previous': None,
 'results': [{'name': 'bulbasaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
  {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
  {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'}]}

In [3]:
pokemon = []
pokemon.extend(poke_json["results"])
pokemon

[{'name': 'bulbasaur', 'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
 {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
 {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
 {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
 {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'}]

In [4]:
df = pd.DataFrame(pokemon)
df

         name                                   url
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/

In [5]:
diccionario_pokemons_url = {}
for i, e in enumerate(pokemon):
    nombre_pokemon = pokemon[i]["name"]
    url_pokemon = pokemon[i]["url"]
    diccionario_pokemons_url[nombre_pokemon] = url_pokemon
    # asi se añade elementos a diccionario --> dicc[clave] = valor

diccionario_pokemons_url

{'bulbasaur': 'https://pokeapi.co/api/v2/pokemon/1/',
 'ivysaur': 'https://pokeapi.co/api/v2/pokemon/2/',
 'venusaur': 'https://pokeapi.co/api/v2/pokemon/3/',
 'charmander': 'https://pokeapi.co/api/v2/pokemon/4/',
 'charmeleon': 'https://pokeapi.co/api/v2/pokemon/5/'}

In [6]:
weight = []
height = []
id_ = []
order_ = []
types_ = []
for nombre_pokemon, url in diccionario_pokemons_url.items():
    peticion_api_url = requests.get(url).json()
    weight.append(peticion_api_url['weight'])
    height.append(peticion_api_url['height'])
    id_.append(peticion_api_url['id'])
    order_.append(peticion_api_url['order'])
    types_.append(peticion_api_url['types'])

df['height'] = height
df['id'] = id_
df['order'] = order_
df['weight'] = weight
df['types'] = types_
df

,name,url,height,id,order,weight,types
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."

In [8]:
type_1 = []
url_type_1 = []
type_2 = []
url_type_2 = []
for i in df['types']:
    type_1.append(i[0]['type']['name'])
    url_type_1.append(i[0]['type']['url'])
    try:
        type_2.append(i[1]['type']['name'])
        url_type_2.append(i[1]['type']['url'])
    except:
        type_2.append("Nan")
        url_type_2.append("Nan")

df = df.drop(['types'], axis=1) # recuerda: axis 0 row, axis 1 columns (siempre r-c)
df['type_1'] = type_1
df['url_type_1'] = url_type_1
df['type_2'] = type_2
df['url_type_2'] = url_type_2
df

,name,url,height,id,order,weight,type_1,url_type_1,type_2,url_type_2
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,grass,https://pokeapi.co/api/v2/type/12/,poison,https://pokeapi.co/api/v2/type/4/
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,grass,https://pokeapi.co/api/v2/type/12/,poison,https://pokeapi.co/api/v2/type/4/
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,grass,https://pokeapi.co/api/v2/type/12/,poison,https://pokeapi.co/api/v2/type/4/
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,fire,https://pokeapi.co/api/v2/type/10/,Nan,Nan
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,fire,https://pokeapi.co/api/v2/type/10/,Nan,Nan

In [ ]:
# Intentar hacer función para que genere listas de types y las vaya añadiendo al dataframe sin tener que suponer que son solo 2 tipos (a veces no podrás comprobarlo cn tus ojos y puede que haya más y no los estás cogiendo)