# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep= '\t')

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
len(chipo)

4622

In [6]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [27]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).iloc[:1].index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).iloc[:1]['quantity'][0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [4]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending = False).iloc[:1].index[0][1:-1]

'Diet Coke'

### Step 12. How many items were orderd in total?

In [33]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [37]:
# using apply
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

#### Step 13.a. Check the item price type

In [42]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [45]:
chipo.item_price = chipo.item_price.apply(lambda x: str(x))

#### Step 13.c. Check the item price type

In [44]:
chipo.item_price.dtype

dtype('O')

### Step 14. How much was the revenue for the period in the dataset?

In [50]:
print(f"The revenue was {str(int(chipo.item_price.sum()))}$")

The revenue was 34500$

### Step 15. How many orders were made in the period?

In [54]:
len(chipo.order_id.unique())

1834

### Step 16. What is the average revenue amount per order?

In [8]:
# Solution 1
chipo['cuenta'] = chipo.item_price * chipo.quantity
chipo.groupby(['order_id']).sum()['cuenta'].mean()

KeyError: 'cuenta'

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

In [58]:
len(chipo.item_name.unique())

50