# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [13]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [14]:
data = pd.read_csv ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter="\t")

### Step 3. Assign it to a variable called chipo.

In [15]:
chipo = data

### Step 4. See the first 10 entries

In [58]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [48]:
chipo.loc[:10] # con loc se accede teniendo que poner valor de índice, este caso de 0 a 10 por eso el 0 no hace falta ponerlo
        # loc incluye a los dos nºs que se ponen, iloc no

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
len(chipo)

4622

In [8]:
# Solution 2
chipo.count() # cuenta todos los elementos que no son nulos

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [9]:
# Solution 3
chipo.shape[0]

4622

In [60]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [56]:
count = 0
for column in chipo:
    count += 1
print(count)

5

In [10]:
chipo.shape[1] # shape te genera un vector con filas y columnas (4622, 5)

5

### Step 7. Print the name of all the columns.

In [4]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [6]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [16]:
# solución mia
print("Most-ordered item:", chipo['item_name'].value_counts().idxmax())

Most-ordered item: Chicken Bowl

In [18]:
# solución profe --> en su solutions, tiene puesta esta línea de código en pequeñas variables, paso a paso.
chipo.groupby("item_name").sum().sort_values("quantity", ascending=False).head(1)

# .agg(['sum', 'mean']) vale para hacer mas de una operacion: sum y mean

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [18]:
chipo.groupby('item_name').sum().drop(columns=['order_id']).reset_index(inplace=True)  # porque no se imprime nada????

TypeError: 'Index' object is not callable

### Step 10. For the most-ordered item, how many items were ordered?

In [17]:
# solución mia
print("Nº of most-ordered item:", chipo['item_name'].value_counts().max())

Nº of most-ordered item: 726

In [6]:
# solución profe
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [36]:
segundo = chipo['choice_description']
a = segundo.value_counts().idxmax()
print("Most-ordered item:", ''.join(a))

Most-ordered item: [Diet Coke]

In [21]:
chipo.groupby('choice_description').sum().sort_values(['quantity']).tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [35]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [30]:
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo['item_price'] = pd.to_numeric(chipo['item_price'], downcast='float')

In [31]:
print(chipo['item_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float32

In [27]:
def remove_dollar(x):
    return float(x[1:-1]) # pork -1?????

chipo['item_price_float'] = chipo['item_price'].apply(remove_dollar)
chipo['item_price_float']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_float, Length: 4622, dtype: float64

In [28]:
# con replace

chipo['item_price_float_replace'] = chipo['item_price'].str.replace('$', '').astype(float)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  4622 non-null   int64
 1   quantity                  4622 non-null   int64
 2   item_name                 4622 non-null   object
 3   choice_description        3376 non-null   object
 4   item_price                4622 non-null   object
 5   item_price_float          4622 non-null   float64
 6   item_price_float_replace  4622 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 252.9+ KB

#### Step 13.c. Check the item price type

In [52]:
chipo.item_price.dtype

dtype('float32')

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
print('Revenue was: $', chipo['item_price'].sum())

Revenue was: $ 34500.16

In [34]:
a = chipo['item_price']*chipo['quantity']
a.sum()

39237.01973223686

### Step 15. How many orders were made in the period?

In [14]:
c = list(chipo['order_id'])
print(c[-1])

1834

### Step 16. What is the average revenue amount per order?

In [77]:
# Solution 1
chipo['cuenta'] = chipo.item_price * chipo.quantity
chipo = chipo.groupby('order_id').sum()
chipo['cuenta'].mean()

21.39423104265914

### Step 17. How many different items are sold?

In [7]:
len(set(chipo['item_name']))

50